body{
    margin: 0;
padding: 0;
}

.flex{
    display: flex;
    justify-content: space-between;
}
.container{
    width: 100%;
    height: 100%;
}

.pos1{
    background-color: blue;
    height: 55px;
}

.pos4{
    width: 100%;
}

.pos2{
    background-color: yellow;
    width: 20%;
    height: 85vh;
}

.pos5{
    background-color: yellow;
    width: 20%;
}

.pos3{
    background-color: blue;
    height: 55px;
}

.spanchik{
    background-color: blueviolet;
  }

.pos1:hover{
    background-color: green;
}

.pos3:hover{
    background-color: green;
}

.pos2:hover{
    background-color: steelblue;
}

.pos5:hover{
    background-color: steelblue;
}

.pos4:hover{
    background-color: hotpink;
}