body{
    margin: 0;
    padding: 0;
}


.pos1{
    background-color: blue;
    height: 50px;
}


.pos5{
    background-color: yellow;
}

.pos2{
    background-color: yellow;
}

.pos3{
    height: 50px;
    background-color: blue;
}

.width{
    width: 200px;
}

table{
    width: 100%;
    height: 100vh;
}

td{
    border: 1px solid;
}

th{
    border: 1px solid;
}

.pos1:hover{
    background-color: tomato;
}

.pos3:hover{
    background-color: tomato;
}

.pos2:hover{
    background-color: hotpink;
    
}

.pos5:hover{
    background-color: hotpink;
}

.pos4:hover{
    background-color: green;
}
