body{
    margin: 0;
    padding: 0;
}


div{
    border: 1px solid black;
}

.pad{
    padding: 0px 100px;
}

.pos1{
    background-color: blue;
    height: 55px;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.pos2{
    background-color: yellow;
    height: 85vh;
}

.pos4{
}

.pos5{
    background-color: yellow;
}

.pos3{
    background-color: blue;
    height: 55px;
}

.width{
    width: 100%;
}

.spanchik{
    background-color: blueviolet;
  }

.pos1:hover{
    background-color: green;
}

.pos3:hover{
    background-color: green;
}

.pos2:hover{
    background-color: steelblue;
}

.pos5:hover{
    background-color: steelblue;
}

.pos4:hover{
    background-color: hotpink;
}
