body{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100%;
}

div{
    border: 1px solid black;
}

.pos1{
    background-color: yellow;
    height: 60px;
}

.field1{
    margin-left: 40px;
    background-color: white;
    width: 20%;
    height: 30px;
}

.flex{
    display: flex;
}

.pos2{
    background-color: blue;
    width: 20%;
    height: 84vh;
}

.grow{
    flex-grow: 1;
}

.field2{
    background-color: red;
    width: 100%;
    height: 3vh;
}

.pad{
    padding: 15px 150px;
}


.pos3{
    background-color: white;
    height: 65vh;
    width: 45%;
}

.marg{
    margin-top: 10px;
}

.pos4{
    background-color: blue;
    width: 45%;
}

.between{
    justify-content: space-between;
}

.pos5{
    background-color: yellow;
    width: 100%;
    height: 60px;
}

.bord{
    border: 0;
}

.spanchik{
    background-color: blueviolet;
  }

.pos1:hover{
    background-color: green;
}

.pos3:hover{
    background-color: green;
}

.pos2:hover{
    background-color: salmon;
}

.pos5:hover{
    background-color: salmon;
}

.pos4:hover{
    background-color: hotpink;
}

.field1:hover{
    background-color: aqua;
}

.field2:hover{
    background-color: aqua;
}
